name: 02 - Main Branch Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  PROJECT_ID: "teak-advice-475415-i2"
  REGION: "europe-west1"
  REPO_NAME: "petclinic-repo-prod" 
  IMAGE_NAME: "petclinic"

jobs:
  build-and-release:
    runs-on: [self-hosted, prod]
    permissions:
      contents: write 
      id-token: write 

    outputs:
      new_version: ${{ steps.semver.outputs.new_version }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      # 1. Setup Python & Dependencies
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install SemVer
        run: pip install semver

      # 2. Get Latest Tag (Action)
      - name: Get Latest Tag
        uses: actions-ecosystem/action-get-latest-tag@v1.6.0
        id: get-latest-tag

      # 3. Calculate Next Version (Python Script)
      - name: Calculate Next Version
        id: semver
        run: |
          LATEST="${{ steps.get-latest-tag.outputs.tag }}"
          NEW_TAG=$(python3 scripts/bump_version.py "$LATEST")
          echo "Current: $LATEST"
          echo "Next: $NEW_TAG"
          echo "new_version=$NEW_TAG" >> $GITHUB_OUTPUT

      # 4. Push New Tag (Action)
      - name: Push New Tag
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ steps.semver.outputs.new_version }}
          message: "Release ${{ steps.semver.outputs.new_version }}"

        # Static Analysis
      - name: Static Analysis (Checkstyle)
        run: ./mvnw checkstyle:check

      # Unit Tests
      - name: Run Unit Tests
        run: ./mvnw test

      # Package
      - name: Package Application
        run: ./mvnw package -DskipTests

      - name: Prepare Docker Files
        run: |
          # 1. Move and rename the App JAR
          mv target/*.jar spring-petclinic.jar
          
          # 2. Download the Prometheus JMX Agent
          curl -L https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar -o jmx.jar
          
          # 3. Verify all files exist before building
          ls -l spring-petclinic.jar jmx.jar config.yaml

      - name: 'Docker Auth'
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.prod

      # Build and Export to Tar
      - name: Build Image (Export)
        uses: docker/build-push-action@v6
        with:
          context: .
          # Save to tar file to avoid Docker Socket version issues during scan
          outputs: type=docker,dest=/tmp/release_image.tar
          tags: |
            ${{ env.REGION }}-docker.pkg.prod/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ steps.semver.outputs.new_version }}
            ${{ env.REGION }}-docker.pkg.prod/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest

      # Security Scan
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGION }}-docker.pkg.prod/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/petclinic:${{ steps.vars.outputs.sha_short }}
          format: 'table'
          exit-code: '1' # Fail pipeline if CRITICAL/HIGH issues found
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Push Image to Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGION }}-docker.pkg.prod/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ steps.semver.outputs.new_version }}
            ${{ env.REGION }}-docker.pkg.prod/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
