name: 01 - PR Gatekeeper

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  PROJECT_ID: "teak-advice-475415-i2"
  REGION: "europe-west1"
  REPO_NAME: "petclinic-repo-dev"

jobs:
  pr-lifecycle:
    runs-on: [self-hosted, dev]
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      # Calculate Short SHA (7 letters)
      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT

      # Static Analysis
      - name: Static Analysis (Checkstyle)
        run: ./mvnw checkstyle:check

      # Unit Tests
      - name: Run Unit Tests
        run: ./mvnw test

      # Package
      - name: Package Application
        run: ./mvnw package -DskipTests

      - name: Prepare Docker Files
        run: |
          # 1. Move and rename the App JAR
          mv target/*.jar spring-petclinic.jar
          
          # 2. Download the Prometheus JMX Agent
          curl -L https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar -o jmx.jar
          
          # 3. Verify all files exist before building
          ls -l spring-petclinic.jar jmx.jar config.yaml

      - name: 'Docker Auth'
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      # Build Docker Image
      - name: Build Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          load: true
          tags: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/petclinic:${{ steps.vars.outputs.sha_short }}

      # Security Scan (Trivy on Image)
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/petclinic:${{ steps.vars.outputs.sha_short }}
          format: 'table'
          exit-code: '1' # Fail pipeline if CRITICAL/HIGH issues found
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      # Push Image (SHA + Latest)
      - name: Push Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/petclinic:${{ steps.vars.outputs.sha_short }}
            ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/petclinic:latest