apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "petclinic.fullname" . }}
  labels:
    {{- include "petclinic.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "petclinic.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "petclinic.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "petclinic.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets"
              readOnly: true
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "mysql"
            # This tells Spring Boot 2.4+ to read properties from the files in this directory
            # The CSI driver mounts 'spring.datasource.username' as a file here.
            - name: SPRING_CONFIG_IMPORT
              value: "configtree:/mnt/secrets/"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.5.0
          args:
            - "--private-ip"
            - "{{ .Values.cloudSql.instanceConnectionName }}"
          securityContext:
            runAsNonRoot: true
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"

      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store-gke.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Chart.Name }}-secrets