apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Chart.Name }}
  labels:
    release: kube-prometheus-stack # IMPORTANT: Matches the Prometheus Operator install name
    app: {{ .Chart.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  endpoints:
    - port: http-web
      path: /actuator/prometheus
      interval: 15s